# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Data & SQLite Database
data/*.db
data/samples/*.jpg

# Virtual environment
venv/
.venv/
env/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
